@import "_ultility.scss";
@import "_text.scss";
@import "_markdown.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #202020;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0.5rem;
}

ul > li {
  padding: 0.3rem 0;
}

p > img {
  width: 25%;
  height: auto;
}

header {
  //background-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: black;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  font-family: "Alfa Slab One", serif;
  font-size: 32px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 0 40px;

  img {
    width: 250px;
    margin: 0 25px;
  }
}

.nav-item {
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    color: var(--primary-link-color);
    text-decoration: underline;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding: 0 40px;

  & .title-text {
    padding-left: 10%;
    padding-right: 10%;
  }

  .explore-more {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .hero section {
      padding: 0 2rem;
  }

  .hero-image {
      display: none
  }
}

main {
  background: url('forest-landscape.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;

  .wrap {
    display: flex;
    padding: 50px 100px;
  }

  .content {
    border-radius: 10px 0 0 10px;
    background-color: var(--secondary-color);

    img {
      border-radius: 10px;
    }
  }

  .toc {
    max-width: 260px;
    min-width: 240px;
  }

  .toc-item {
    padding: 10px 20px;
    color: #424242;
  }

  .toc-item a, .toc-item-child a {
    color: var(--secondary-text-color);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .toc-item a.active, .toc-item-child a.active {
    color: var(--toc-highlight-text-color);
  }

  .toc-item-child {
    padding: 0 30px 5px;
    color: #424242;
  }

}

.toc-sticky {
  border-radius: 0 10px 10px 0;
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 50px;
  padding: 10px 0;
}

footer {
  padding: 50px 0 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;

  a {
    color: #fcfcfc;
    text-decoration: underline;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  header {
    //background-color: var(--primary-color);
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 28px;
    margin: 10px;

    img {
      width: 200px;
      margin: 0 10px 0 0;
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }

  .hero {
    padding: 40px 30px;
  }

  main {
    background-image: url('forest-portrait.jpg');

    .wrap {
      padding: 25px;
    }
  }

  .content {
    padding: 5px;

  }

  .explore-more, .toc {
    display: none;
  }

}
